/**/public/
/**/dist/
/**/build/
/**/coverage/
/**/example/
/**/coverage-cypress/
/**/coverage-jest/
/**/.nyc_output
/**/.husky
/**/.vscode
/**/node_modules/
/**/tmp/
/**/package.json
/**/package-lock.json
